.app
{
    font-size: 125%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

a:link, a:visited
{
    color: inherit;
    text-decoration: inherit;
}